.frecuent-questions {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;

  .acordion-width {
    margin-top: 20px;
    width: 60%;
  }
  h2 {
    color: white;
  }
}
