.App{
    background-color: black;
    font-family: 'Rowdies', cursive;
    height: 100vh;
    text-align: center;
}
.header-page{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 13rem;
}
.title-page{
    color: #db8a07;
}

.search-bar{
    border-radius: 10px;
    border: none;
    height: 1.5rem;
    margin-right: 1rem;
    outline: none;
    width: 20%;

}
.send-info{
    margin-top: 2rem;
}
.btn-send{
    background-color: rgb(15, 199, 138);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Rowdies', cursive;
    height: 1.5rem;
    min-width: 5%;
}