* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text-color: #f0eee6;
    --text-font-family:'Open Sans', sans-serif;;
    --text-font-size: 16px;
    --title-color: #e32233;
    --title-font-family:'Be Vietnam Pro', sans-serif;
}

h1 {
    color: var(--title-color);
    font-weight: 500;
    font-size: 28vmax;
}

h2 {
    color: var(--title-color);
    font-weight: 400;
    font-size: 9vmax;
}

ul {
    list-style-type: none;
}

li {
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-weight: 500;
}

.main-container{
    background-image: url("../img/Taylor-Swift.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 12px;
    grid-template-areas: 
    ". area1 . ."
    ". area2 . area4"
    ". area3 . ."
    ". footer footer footer"
}

.item-container {
    display:flex;
}

.item-container li {
    width: 100%;
}

.italic-letter {
    font-style: italic;
}

.small-letter{
    font-size:10px;
    text-align:right;
}

.item--area1 { grid-area: area1; }
.item--area2 { grid-area: area2; }
.item--area3 { grid-area: area3; }
.item--area4 { grid-area: area4; }
.item--footer { 
    grid-area: footer;
    justify-self: end;
}