html, body {

    background-color: white;
    font-family: Helvetica;
    margin:0;
    padding:0;
}

.container{
    background-color: rgb(17,17,17);
    display: grid;
    grid-template-areas: ". magazine .";
    grid-template-columns: 1fr 2fr 1fr;
    height: 120vh;
    width: 100%;
}
.magazine{
    background-image: url("assets/wp1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    grid-area: magazine;
    margin: 10px;
}


.magazine-header{
    display: flex;
    flex-direction: column;
    grid-area: head;
    justify-content: space-evenly;
    row-gap: 1px;
}

.magazine-header img{
    padding: .2rem;
}

.header-title{
    color: rgb(7, 7, 7);
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 10px;
    line-height: .9;
    text-align: center;
    text-shadow: red 0.1em 0.1em 0.2em;
}
.header-title span{
    letter-spacing: 2px;
    line-height: .1;

}

.magazine-content{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "head head head"
     ". . col"
    ". . col"
    ". . col"
    "code . ad" ;
    
    height: 100%;
    padding: 5px 20px 5px 10px;
                        
}

.magazine-column{
    display: flex;
    flex-direction: column;
    grid-area: col;
    justify-content: flex-start;
}

.magazine-group{
    align-content:flex-start;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: right;

}

.main-title{
    color:white;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1.2;
    text-shadow: rgb(255, 238, 0) 0.1em 0.1em 0.2em;
}

.subtitle{
    color:#a96d14;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 2;
    text-align: right;
}

.subtitle span{
    background-color: #ffffff8a;
    border-radius: 8px;
    box-shadow: 0 0 50px #ff0000c9;
}

.ad{
    align-content: right;
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bold;
    grid-area: ad;
    justify-content: end;
    text-align: right;
    text-shadow: rgb(255, 30, 0) 0.1em 0.1em 0.2em;
    
}

.ad img{
    height: 60%;
    margin: .5rem;
    position: relative;
    right: -140px;
    width: 48%;
}

.codebar{
    align-content: center;
    color:white;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    font-weight: bold;
    grid-area: code;
    justify-content: end;
    text-align: left;
}
.codebar img{
    height: 40%;
    margin: .5rem;
    width: 76%;
}



