.total {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  padding-top: 10px;
}
.button-section {
  align-items: flex-end;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding-top: 20px;
}
.direction-button {
  background-color: #1a1a40;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
