.list-pokemons{
    padding-bottom: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.content{ 
    font-family: 'Consolas';
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
span{
    font-size: 3vw;
}
#bulbasur{
    filter: drop-shadow(5px 5px 5px rgb(78, 74, 74));
    height: 15vw;
}
#bulbasur:hover{
    filter: drop-shadow(8px 8px 8px rgb(7, 177, 126));
    height: 20vw;
}
#charmander{
    filter: drop-shadow(5px 5px 5px rgb(78, 74, 74));
    height: 18vw;
}
#charmander:hover{
    filter: drop-shadow(8px 8px 8px rgb(238, 76, 47));
    height: 21vw;
}
#squirtle{
    filter: drop-shadow(5px 5px 5px rgb(78, 74, 74));
    height: 15vw;
}
#squirtle:hover{
    filter: drop-shadow(8px 8px 8px rgb(25, 208, 221));
    height: 20vw;
}
#prof{
    filter: drop-shadow(5px 5px 5px rgb(78, 74, 74));
    height: 30vw;
}
figure{
    margin-left: 10vw;
    margin-right: 10vw;
}
h1{
    font-family: sans-serif;
    font-size: 5.5vw;
    margin: 5px;
}
h2{
    border-style: dotted;
    font-size: 2vw;
    margin-right: 10vw;
}
.homepage{
    font-family: 'Consolas';
    text-align: center;
}
p{  
    color: #000;
    font-size: 1.5vw;
    border-style: dotted;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
    padding: 10px;
}
.inputName{
    font-family: 'Consolas';
    font-size: 2vw;
    background-color: transparent;
    border-bottom: 20px solid rgb(0, 0, 0);
    border: 1px;
    color: black;
    outline: 0;
    padding-bottom: 10px;   
}
#last{
    background-color: #f00000;
    border-color: #000;
    border-radius: 5px;
    border-style:  solid;
    border-width: 5px;
    color: aliceblue;
    padding: 2px;
    width: 1vw;
    margin-bottom: 200px;
}
hr{
    background: linear-gradient(to right, rgb(7, 177, 126), rgb(238, 76, 47),rgb(25, 208, 221));
    height: 10px;
    width: 100%;
}
