/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@100;400&family=Readex+Pro:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/background_img.jpg);
}

/*Section 1*/
.main{
    background: #fff;
    border: 2px solid #181510;
    left: 50%;
    max-width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*Section 2: Header */
.main__header{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0;
}
.main__header--title{
    color: #be0211;
    font-size: 26px;
    font-family: 'Readex Pro', sans-serif;
    letter-spacing: -2px;
}

/*Section 3: Magazine Name Title & categories */
.main__content{
    background: #181510;
    color: #fff;
    margin: 0 10px;
    width: 624px;
}
.main__content--title{
    font-size: 160px;
    font-weight: bold;
    font-family: 'Readex Pro', sans-serif;
    letter-spacing: 10px;
    line-height: 84%;
    text-align: center;
}
.main__content--categories{
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 100;
    justify-content: space-around;
    list-style: none;
    letter-spacing: 10px; 
}

/*Section 4: Main cover & Moon image */
.main__cover{
    align-items: center;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    padding: 20px 0;
}
.main__cover--title{
    font-size:56px;
    line-height: 60px;
    letter-spacing: 2px;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}
span{
    color: #be0211;
}

/*Section 4: Last phrase & Bar code image */
.main__paragraph{
   align-self: start;
   display: grid;
   grid-template-columns:90% 10%;
   height: 60px;
}
.main__paragraph--text{
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 60px;
}
.main__paragraph--img{
    height:38px;
    transform:rotate(90deg);
    width: 94px; 
}

/*Section 5: Footer & Footer items*/
.footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.footer__item{
    padding: 0px 18px;
    text-align: center;
}
.footer__item:nth-child(even){
    border-left: 1px solid #be0211;
    border-right: 1px solid #be0211;
}
.footer__item h3{
    color: #be0211;
    font-size: 16px;
    font-weight: bold;
}
.footer__item p {
    font-size: 12px;
}