* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #bbd9a9;
  display: flex;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 70px 0;
  width: 100%;
}

.formContainer {
  border-radius: 10px;
  background-color: #d8a9d9;
  padding: 70px;
  width: 50%;
}

.formContainer h1 {
  color: #8c5f8c;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
  transition: all ease 0.8s;
}

.formContainer h1:hover {
  color: #bbd9a9;
}

.formContainer h1 span {
  font-size: 16px;
  font-weight: 200;
}

.formContainer form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formContainer form h4 {
  color: #5c3c5c;
  font-weight: 400;
  margin: 25px 0 5px;
  transition: all ease 0.6s;
}

.formContainer form h4:hover {
  color: #bbd9a9;
}

.formContainer form input {
  background-color: #f7e3f8;
  border-radius: 3px;
  border: none;
  height: 30px;
  padding: 7px;
  width: 250px;
}

.formContainer form input:focus {
  outline-width: 0;
}

.formContainer form .cardInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
}

.formContainer form .cardInfo input {
  margin-bottom: 10px;
  width: 195px;
}

.formContainer form .cardInfo input:nth-child(3) {
  margin-left: 5px;
  width: 50px;
}

.formContainer form .cardInfo select {
  background-color: #f7e3f8;
  border: none;
  color: #5c3c5c;
  width: 250px;
}

.formContainer form .cardInfo select:focus {
  outline-width: 0;
  height: 30px;
  border-radius: 3px;
}

.formContainer form textarea {
  background-color: #f7e3f8;
  border-radius: 3px;
  border: none;
  margin-bottom: 30px;
  max-height: 100px;
  max-width: 250px;
  min-height: 100px;
  min-width: 250px;
  padding: 7px;
}

.formContainer form textarea:focus {
  outline-width: 0;
}

.formContainer form .buttons button {
  background-color: #bbd9a9;
  border-radius: 3px;
  border: none;
  color: #5c3c5c;
  cursor: pointer;
  height: 40px;
  margin: 0 5px;
  transition: all ease .6s;
  width: 85px;
}

.formContainer form .buttons button:last-child{
    background-color: #8c5f8c;
    color: #bbd9a9;
}

.formContainer form .buttons button:hover {    
    background-color: #FEE0FF;
    color: #678C51;
}

.formContainer form .buttons button:last-child:hover{
    background-color: #FEE0FF;
    color: #5c3c5c;
}