* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.puzzle {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.puzzle__tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle__board {
  background-color: #edf2f4;
  height: 400px;
  width: 400px;
  position: relative;
}

.puzzle__tile {
  border: none;
  cursor: pointer;
  height: 100px;
  position: absolute;
  width: 100px;
}

.puzzle__tile:last-child {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff00e9, #c369ff) 1;
}
