* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #CD88AF;
}

header {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.login {
  align-items: center;
  background-color: #D4B16A;
  border: 1px solid #CD88AF;
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: center;
  text-align:left;
  width: 100%;
}

.login form {
  align-items: center;
  background-color: #D49A6A;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: flex-start;
  width: 60vw;
}

.login form section {
  margin-top: 18px;
  width: 80%;
}

label {
  color: #061539;
  display: block;
  font-size: 18px;
  font-weight: 800;
  margin: 5px;
  padding: -2px;
}

input {
  background: #FFE3AA;
  border-radius: 5px;
  border: none;
  height: 20px;
  margin-top: 1px;
  padding: 5px;
  width: 100%;
}

input:invalid:focus {
  background-image: linear-gradient(pink, lightgreen);
}

.login .signUp {
  align-items: center;
  background-color: #86B4AB;
  border-radius: 5px;
  border: 1px solid #CD88AF;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
  padding: 50px;
}

#formLogin a{
  font-weight: normal;
  margin-top: 5px;
}

#btnLogin {
    background-color: cornsilk;
    border-radius: 5px ;
    border: none;
    font-size: 18px;
    font-weight: 600;
    height: 8%;
    margin-top: 10px;
    width: 30%;
}

#btnLogin:hover {
  background-color: #50607B;
  cursor: pointer;
}

#btnLogin:active {
  background-color: #BAAC72;
}

footer {
  align-items: center;
  display: flex;
  height: 47px;
  justify-content: center;
}

.errorUserName, .errorPassword, .errorConfirm {
  color: #7D4313;
  display: block;
  font-size: 16px;
  font-weight: bolder;
}

.errorLogin {
  border-radius: 5px;
  border: 5px solid red;
  font-size: large;
  margin-bottom: 10px;
  margin-top: 10px;
}