@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#title {
    font-size: 200px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 20px;
}
#subtitle {
    font-family: 'Abril Fatface';
    font-size: 70px;
    font-weight: lighter;
    text-align: left;
    width: 90px;
}
.magazine-container {
    align-items: center;
    background: center/110% url("./images/arya.jpg") ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}
.presentation {
    color: white;
}
.description {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 80%;
}
.description p {
    color: rgb(89 214 252);
    font-family: 'Roboto', sans-serif;
    font-size: 35px; 
    font-weight: bold; 
    width: 200px; 
}
.description p::first-line {
    font-size: 70px;
}


