.btn {
  background-color: #35D00E;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  height: 60px;
  padding: 7px 10px 7px 10px;
  transition: color .3s ease;
  width: 260px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #3e8e41;
}