.headerGame {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-between;
  margin: 20px;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
}

.headerGame__lives {
  height: 100%;
  font-size: 50px;
}

.headerGame__points {
  font-size: 50px;
  height: 100%;
}