
h1{
    background-color: #000000;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.information{
    font-size: 1.6rem;
    margin: 20px;
}

.container ul > li{
    background-color: #d40404;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000000;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.6rem;
    margin: 20px;
    padding: 10px 25px;
}

.container ul > li:hover{
    background-color: #000000;
}

.homework{
    color: azure;
    text-decoration: none;
}

.targetTask{
    background-color: #fffefe;
    box-shadow: 0px 0px 10px #000000;
    display: grid;
    left: 350px;
    padding: 0px 40px;
    position: relative;
    top: 40px;
    text-transform: capitalize;
    width: 40%;
}

.titleTask{
    color: #d40404;
    font-size: 1.4rem;
    text-align: center;
}

.description{
    color: #575757;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .targetTask{
        left: 20px;
        padding: 20px 40px;
        top: 20px;
        width: 70%;
    }
}