.action{
    background-color: transparent;
    color: #b895f0;
    border:0;
}
.action:hover{
    width: 30px;
  height: 30px;
  border-radius: 50%;
   font-size: medium;
   background-color: rgba(152, 219, 197, 0.562);
}
div li{
    color: #b895f0;
    display:flex;
    justify-content: space-between;
}
div li:hover{
    background-color: #25255c;
}
div span{
    color: #d3bff3;
    font-size: larger;
    display: flex;
    justify-content: center;
}
