.title{
    background-color: 	#f00000;
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}
.title h1{
    color: whitesmoke;
    font-size: 8vw;
    letter-spacing:30px;
    margin:5px;
    padding: 0;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}