.trivia__header {
  align-items: center;
  border: 1px solid olive;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.trivia__header-buttons {
  display: flex;
  flex-direction: row;
}

.trivia__header-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--PickledBluewood);
}

.trivia__img {
  height: 80px;
  width: 150px;
}