.trivia__sidebar-left {
  background-color: var(--PinkSalmon);
  border-radius: 3px;
  width: 16.65vw;
}

.trivia__sidebar-left:first-child {
  text-align: center;
}

.trivia__difficulty {
  display: flex;
  justify-content: center;
}

.trivia__categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}