* {
  margin: 0;
  padding: 0;
}
body {
  background: #007095;
  display: flex;
  min-height: 100vh;
}
.calculator {
  background: #00828E;
  box-shadow: 10px 5px 5px #005165;
  border-radius: 10px;
  margin: auto;

}
.calculator__display {
  margin: 10px;
  text-align: center;
}

.calculator__buttons button {
  background: #00A36C;
  border: none;
  border-radius: 10px;
}

.calculator__display {
  background: #e5e5e5;
  border-radius: 10px;
  box-shadow: inset 5px 5px 11px #d0d0d0, inset -5px -5px 11px #fafafa;
  height: 100px;
  width: auto;
}

.calculator__display--text {
  background: #e5e5e5;
  color: #007B7F;
  border: none;
  font-size: 48px;
  margin-top: 24px;
  max-width: 240px;
  text-align: right;
}
.calculator__buttons {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(4, 50px);
  justify-content: center;
  padding: 16px;
}
.calculator__buttons button {
  cursor: pointer;
  color: #fafafa;
  font-size: 24px;
  height: 50px;
}
.calculator__buttons button:hover {
  background-color: #2F4858;
}

.calculator__buttons .button__function {
  background-color:#005165;
}

.button__function:first-child {
  grid-column: 1/2;
}

.button__function:nth-child(2) {
  grid-column: 4/5;
}


.button__function:last-child {
  grid-column: 2 / 5;
}
