@font-face{
    font-family:'vogue';
    src: url(../font/Vogue.ttf);
}

body, html {
    height: 100%;
    
}
  
.bg { 
 
    background-image: url(../img/img_background.jpg);
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.font-vogue{
    font-size: 9.7em;
    color: #745a38;
    font-family: 'vogue';
}

.text{
    color: #fefefe; 
    margin-top: 18em;
    font-family: math;
}

.text-one{
   
    font-size: 0.7em;
    
}
.text-three{
   
    font-size: 6em;
    font-weight: 100;
}

.bold{
    font-weight: bold;
}

.paragraph{
    margin-top: -1.6em;
    font-size: 1.3em;
    margin-left: -32px;
    
}
.mb-0{
    margin-bottom: 0em;
    
    
}

.victoria{
    color: white;
    margin-left: 17em;
    font-size: 1.5em;
    font-style: italic;
}

@media (min-width: 990px) and (max-width: 2000px) {
    .font-vogue{
        margin-left: 0.6em;
    }
}

@media(min-width:520px){
    body, html {
        min-width: 520px;
        
    }
    
}