.direction-button {
  background-color: #1a1a40;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 5px;
}
.section-button {
  display: flex;
  justify-content: center;
}
