.lifes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lifes__svgs {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
  margin: 0;
}
