.title-films{
    color: rgb(255, 255, 255);
    font-size:3rem;
    margin-top:100px;
    text-align: center;
    text-transform: capitalize;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px 0 88px;
    max-width: 1500px;
}

.container-cards {
    box-shadow: 0px 8px 14px #bd1117;
    background: #fff;
    cursor: pointer;
    height: 280px;
    margin: 50px;
    padding: 8px;
    transition: 1.5s;
    width: 180px;
}

.container-cards:hover {
    box-shadow: 0px 8px 14px #000000;
    margin-top: 1px;
}

.container-cards label {
    background: #ec0004;
    border-radius: 0 1px 14px 1px;
    color: rgb(255, 255, 255);
    font-size: 0.740rem;
    left: 0px;
    padding: 4px;
    position: relative;
    top: 0px;
    z-index: 1;
}

.title {
    color: #F5F3F4;
    font-size: 1rem;
    position: relative;
    top: 280px;
    text-align: center;
}

.container-cards img {
    height: 280px;
    width: 180px;
    z-index: 1;
}

.box-buttons {
    margin: 40px;
    text-align: center;
}

.box-buttons button {
    background: #bd1117;
    border: none;
    color: #F5F3F4;
    font-size: 1rem;
    padding: 18px;
    text-transform: capitalize;
    transition: all 0.4s;
}

.box-buttons label {
    color: #F5F3F4;
    font-size: 1.5rem;
    margin: 35px;
}

.box-buttons button:hover {
    background: rgb(255, 255, 255);
    color: #e9050d;
}


@media screen and (max-width: 768px) {

    .title-films{
        color: #ffffff;
        font-size:2.6rem;
        margin-top:140px;
        text-align: center;
        text-transform: capitalize;
    }

    .list {
        margin: 30px 0px 0 60px;
    }

    .title {
        color: #F5F3F4;
        font-size: 1.2rem;
        position: relative;
        top: 280px;
    }
}
