.login,
.image {
    min-height: 100vh;
}
.bg-image {
    background-image: url("../Img/login.gif");
    background-size: cover;
    background-position: center center;
}

.link-span{
    text-align: center;
    padding: 20px 20px;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-left: 125px;
}

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .btn-text:hover {
    box-shadow: 0 0 6px #1669F2;
  }

  .btn-text:active {
    background: #1669F2;
  }


  .btn-box {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.container_login{
    margin: 150px;

}
@import url(https://fonts.googleapis.com/css?family=Roboto:500);