
#container_error{
    position: absolute; 
    top: 10%;
    left: 150px;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: url('../Img/p404.png'), #151729;
    box-shadow: 0 15px 30px rgba(0,0,0.5);
}

#container_error .content{
    max-width: 500px;
    text-align: center;
}

#container_error .content h2{
    font-size: 18vw;
    color: #fff;

}

#container_error .content h4{
    position: relative;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}

#container_error .content p{
    color: #fff;
    font-size: 1.2em;
}

#container_error .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none; 
    margin-top: 25px;
    border-radius: 25px;
    background-color: #7656FF;
}