.summary-box {
  border: 1px solid #b9b5b5;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 30px;
  width: 300px;
}

.summary-box h5 {
  border-bottom: 1px solid #7656ff;
  display: flex;
  padding: 0px;
  text-align: center;
}

.summary-box div {
  display: flex;
  justify-content: space-between;
}
