
@media (max-width: 900px){
    #titulo1{
        left: 23%;
        font-size: 703%;
    }

    #titulo3{
        top: 30%;
    }

    #titulo4{
        top: 46%;
    }

    #titulo5{
        top: 65%;
    }
}
@media (max-width: 450px){
    .imagenes{
        width: 100%;
    }

    .imagenes .imgs .carro{
        top: 46%;
        width: 100%;
        left: 2%;
    }

    .imagenes .imgs .codigo{
        width: 21%;
        top: 93%;
    }

    #titulo1{
        left: 9%;
        font-size: 470%;
        top: 6%;
    }

    #titulo2{
        left: 19%;
        font-size: 405%;
        top: 20%;
    }

    #titulo3{
        width: 90%;
        margin: 0px auto;
        top: 30%;
        left: 9%;
    }

    #titulo4{
        width: 90%;
        margin: 0px auto;
        top: 38%;
        left: 9%;
    }

    #titulo5{
        width: 90%;
        margin: 0px auto;
        top: 44%;
        left: 9%;
    }
}
