nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  background-color:antiquewhite;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
}

.logout {
  background: cadetblue;
}