html, body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". magazine .";
    width: 100%;
    height: 100vh;
    background-color: white;
}
.magazine{
    grid-area: magazine;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(66, 103, 130) , rgb(136, 173, 200));
    color: white;
}
.magazine__header{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2% 5%;
}
.magazine__header span{    
    color: rgb(76, 76, 76);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

.magazine__header span:first-child{
    padding-left: 6rem;
}

.magazine__header span:nth-child(2){
    font-size: 4.5rem;
    letter-spacing: 1px;
    text-align: center;
    color: #37beba;
}

.magazine__header span:last-child{
    padding-right: 6.5rem;
    text-align: right;
}

.magazine__content{
    height: 100%;
    padding: 7% 7% 5% 7%;
    background-image: url("business_man.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: ". . ideas"
                         ". . ideas"
                         ". . ideas"
                         "main main qr" ;
}

.magazine__ideas{
    grid-area: ideas;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.magazine__idea{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: .8rem;

}

.idea__title{
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.line-breaker{
    width: 40%;
    background-color: #37beba;
    height: .3rem;
    margin-left: auto;
    margin-top: .25rem;
    margin-bottom: .3rem;
}

.magazine__main-title{
    grid-area: main;
    color: #37beba;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.magazine__main-text{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.qr{
    grid-area: qr;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: end;
    font-weight: bold;
}

img{
    margin: .5rem;
    width: 90%;
    height: 4rem;
}



