html, body {
    background-color: white;
    font-family: sans-serif;
    margin:0;
    padding:0;
}

.container{
    background-color: rgb(17,17,17);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". magazine .";
    height: 100vh;
    width: 100%;
}
.magazine{
    background-image: linear-gradient(to right, rgb(66, 103, 130) , rgb(136, 173, 200));
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: magazine;
    margin: 10px;
}
.magazine__header{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}

.magazine__header > * {
    line-height: 90%;
    margin: 0 auto;
    width: 80%; 
}

.magazine__header >h2{ 
    color: rgb(76, 76, 76);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.magazine__header >h1{
    color: #37beba;
    font-size: 5.5rem;
    letter-spacing: 1px;
    text-align: center;
}

.magazine__header > h2:last-child{
    text-align: right;
}

.magazine__content{
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
     ". . ideas"
    ". . ideas"
    ". . ideas"
    "main main qr" ;
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    padding: 7% 7% 5% 7%;
                        
}

.magazine__ideas{
    display: flex;
    flex-direction: column;
    grid-area: ideas;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.magazine__idea{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    text-align: right;

}

.magazine__idea > hr{
    background-color: #37beba;
    border: none;
    height: .3rem;
    margin: .25rem 0 .3rem auto;
    width: 40%;
}

.magazine__idea > h3{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: .9;
    margin: 0;
    padding:0;
}
.magazine__idea > p{
    margin: 0;
    padding: 0;
}

.magazine__main{
    grid-area: main;
}
.magazine__main > h2{
    color: #37beba;
    font-size: 3rem;
    font-weight: 700;
    line-height: .9;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
}

.magazine__main > p{
    margin: 0;
    padding: 0;
}

.magazine__content > figure{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    grid-area: qr;
    justify-content: end;
    margin: 0;
    padding: 0;
    text-align: center;
}
.magazine__content img{
    height: 5rem;
    margin: .5rem;
    width: 90%;
}

@media screen and (max-width: 600px){
    .container{
        grid-template-areas: "magazine magazine magazine";
    }
    .magazine__header > h1{
        font-size: 3.5rem;
    }
    .magazine__main > h2 {
        font-size: 2.5rem;
    }
}

