/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
body {
  color: #f0f0f0;
  background: #21325e;
  font-family: "Bangers", cursive;
}
