* {
    margin: 0;
}
body {
    overflow: hidden;
    background-color: #e4e0e0;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.magazine-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.magazine-cover {
    height: calc(80vh - 100px);
    width: auto;
    padding: 40px 20px;
    aspect-ratio: 5 / 7;
    border: 50px solid #ffce00;
    background-image: url('/src/magazine-bg.jpg');
    background-size: cover;
    box-shadow: 0 10px 15px #000000aa;
}
.main-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-info h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    line-height: 2.5rem;
}
.main-info h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    text-decoration: underline;
}
.main-info p {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}

@media screen and (max-width: 767px) {
    .magazine-cover {
        width: calc(80vw - 100px);
        height: auto;
        padding: 40px 20px;
        border: 30px solid #ffce00;
    }
    .main-info h1 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    .main-info h2 {
        font-size: 1rem;
        line-height: 2.5rem;
    }
    .main-info p {
        font-size: .6rem;
        line-height: .6rem;
    }
}
