.taskGenerator {
    align-items: center;
    background-color: #d8f8e1;
    border-radius: 20px;
    box-shadow: 6px 27px 40px 6px #577284;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
    height: 400px;
    justify-content: space-evenly;
    text-align: center;
    width: 300px;
}

.mainTitle {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}
.taskGenerator input{
    height: 30px;
    width: 70%;
}

.createButton {
    background-color: #7ce0ff;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
.createButton:hover {
    background-color: #0087b1;
    color: white;
}