*{
    padding: 0px;
    margin: 0px;
}
.grid-text{
    display: grid;
    text-align: center;
    font-size: 30px;
}
.grid-text{
    background: #ecf0f1;
    gap: 1em;
}
.grid-text:hover{
    border: 3px solid black;
}
.imagenes{
    width: 70%;
    margin: 0px auto;
    height: 100vh;
    position: relative;
}

.imagenes .fondo img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imagenes .imgs img{
    position: absolute;
}

.imagenes .imgs .carro{
    width: 87%;
    top: 20%;
    left: 8%;
}

.imagenes .imgs .codigo{
    width: 10%;
    top: 89%;
    right: 0%;
}

.imagenes .informacion{
    position: absolute;
    background-color: gray;
    top: 90%;
    width: 100%;
    height: 8%;
    text-align: center;
}

.imagenes .informacion h6{
    line-height: 200%;
    font-size: 115%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.imagenes .informacion:hover h6{
    color: white;
}

#titulo1{
    position: absolute;
    left: 22%;
    z-index: 999;
    font-size: 970%;
    color: red;
}

#titulo1:hover{
    color: blue;
}

#titulo2{
    position: absolute;
    left: 35%;
    top: 30%;
    font-size: 510%;
    font-family: sans-serif;
    color: navy;
    z-index: 999;
}

#titulo2:hover{
    color: black;
}

#titulo3{
    position: absolute;
    width: 20%;
    left: 16%;
    top: 41%;
    font-size: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    z-index: 999;
}

#titulo3:hover{
    color: white;
}

#titulo4{
    position: absolute;
    width: 20%;
    left: 16%;
    top: 52%;
    font-size: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    z-index: 999;
}

#titulo4:hover{
    color: white;
}

#titulo5{
    position: absolute;
    width: 20%;
    left: 16%;
    top: 63%;
    font-size: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    z-index: 999;
}

#titulo5:hover{
    color: white;
}

.caja{
    border: 4px solid rgb(70, 69, 69);
    background-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 202px;
    text-align: center;
    margin: -8px;
}
.flexbox{
    border: black ;
    background: white(138, 133, 133);
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.flexbox:hover{
    color: navy;
}
.c1{
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.c1:hover{
    color: grey;
}
.c2{
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.c2:hover:hover{
    color: grey;
}
.c3{
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.c3:hover{
    color: grey;
}