.register {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0px 30px;
	min-height: calc(100vh - 100px);
}

.register__container {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid white;
	border-radius: 40px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 60px 68px 40px;
}

.register__container--form {
	display: flex;
	flex-direction: column;
}

.register__container--form > .input {
	background-color: transparent;
	border-bottom: 2px solid white;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	color: white;
	font-family: "Muli", sans-serif;
	font-size: 16px;
	height: 50px;
	margin-bottom: 20px;
	min-width: 100%;
	outline: none;
	padding: 0px 20px;
}

.register__container a {
	color: white;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

.register__container a:hover {
	text-decoration: underline;
}
