html{
    background-color: aliceblue;
}
label{
    font-size: 1.2rem;
}
section:last-child{
    margin-bottom: 20px;
}
section{
    margin-bottom: 15px;
}
input[type="radio"]{
    margin-bottom: 15px;
}
.form{
    background-color: cornsilk;
    margin: 0 auto;
    max-width: 900px;
}
.form__personaldata{
    text-align: center;
}
.form__legend{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.box{
    border: 1px solid black;
    padding: 0 0 20px 0;
    margin: 0 auto;
}
