@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&family=Roboto+Condensed:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./imagenes/fondo.png);
    background-repeat: space;
    background-position-y: bottom;
}
.box{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.jordan{
    z-index: 1;
    width: 30%;
    height: auto;
    position: relative;
    background-color: black;
    border: 2px solid white;
    box-shadow: 0px 0px 8px white inset;
}
.jordan img{
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    position: absolute;
    color: white;
}
h1{
    color: red;
    z-index: 2;
    font-family: 'Antonio', sans-serif;
    font-size: 170px;
    left: 694px;
    letter-spacing: 6px;
    transform: scaleY(1.5);
    top: 1%;
}
.text h2{
    color: red;
    font-family: 'Antonio', sans-serif;
    font-size: 27px;
    left: 107px;
    top: 37%;
}
.text2 h2{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 57px;
    left: 35px;
    top: 39%;
}
.text3 h2{
    color: red;
    font-family: 'Antonio', sans-serif;
    font-size: 27px;
    left: 107px;
    top: 46%;
}
.text4 h2{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 57px;
    left: 44px;
    top: 48%;
}
.subtitle h3{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    left: 361px;
    top: 82%;
}
.subtitle2 h3{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    left: 367px;
    top: 87%;
}
.subtitle3 h3{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    left: 360px;
    top: 92%;
}
.inf1 h4{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    left: -16px;
    top: 9%;
    transform: rotate(-90deg);
}
.codigo img{
    position: absolute;
    width: 7%;
    top: 89%;
    z-index: 1;
    left: 691px;
}
.circulo h4{
    line-height: 57px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 9px;
    left: 477px;
    top: 32%;
}
h4{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 9px;
    left: 1142px;
    top: 26%;
    z-index: 2;
}