@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=PT+Sans:wght@400;700&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
}

.cover
{
    background-image: url(../tarea-1/photo.jpg);
    background-size: cover;
    border: 10px solid #ed1c24;
    height: 100vh;
    margin: auto;
    width: 440px;
}

.container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    padding: 0 15px;
}

header
{
    grid-column: span 4;
    place-self: center;
}

header img
{
    width: 250px;
}

.magazineLogo
{
    color: #ed1c24;
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.dateAndIssue
{
    color: #fff;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
}

.magazineWord
{
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 8px;
    grid-column: 4;
    text-align: right;
    text-transform: uppercase;
}

.coverTitle
{
    align-self: flex-end;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    grid-column: span 4;
    font-size: 12px;
    text-transform: uppercase;
}

.personName
{
    font-size: 35px;
}

.barCode
{
    align-self: flex-end;
    background-color: #fff;
    bottom: 7px;
    padding: 6px;
    position: absolute;
}

.barCode img
{
    width: 100px;
}