@import "../../generalStyles.scss";

.noFound {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: center;
    padding: 0 5%;
    width: 100%;

        h1 {
            color: $GrayText;
            font-size: 155px;
        }

        h2 {
            color: $GrayTitular;
            font-size: 25px;
            font-weight: 400;
        }
}