@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

*
{
    font-family: 'Redressed', cursive;
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    align-items: center;
    background-image: linear-gradient(#f8c025, #df2027);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container
{
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    padding: 15px;
}

.grid
{
    border: 1px solid #550000;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
}

.grid button
{
    background-color: #df2027;
    border: 1px solid #000;
    color: #f8c025;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    outline: none;
}

footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

footer button
{
    background-color: #f8c025;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    color: #003333;
    color: #df2027;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 5px;
    width: 80px;
}

footer button:hover
{
    background-color: #df2027;
    color: #f8c025;
}

footer span
{
    color: #f8c025;
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
}

.message
{
    color: #f8c025;
    height: 80px;
}