* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backg: #514d4d;
  --titleColor: #fedc09;
}

/* Desktop Styles New */
@media only screen and (min-width: 961px) {
  body {
    background-color: var(--backg);
  }

  main {
    background-color: var(--backg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 960px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto__photo-text {
    font-size: 39px;
    color: #fff;
    left: 400px;
    position: absolute;
    text-transform: capitalize;
    top: 500px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  .centrado {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
  }

  img {
    display: block;
  }

  figcaption {
    background-color: var(--backg);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  .coverphoto__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coverphoto__section section h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section section p {
    color: #fff;
    font-size: 17px;
    text-transform: lowercase;
  }

  .coverphoto__section section:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: var(--backg);
  }

  main {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto__photo-text {
    color: #fff;
    font-size: 39px;
    left: 640px;
    position: absolute;
    text-transform: capitalize;
    top: 365px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  .centrado {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    background-color: var(--backg);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  .coverphoto__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coverphoto__section section {
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  .coverphoto__section section h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section section p {
    color: #fff;
    font-size: 17px;
    text-transform: lowercase;
  }

  .coverphoto__section section:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}

/* Mobile Style */
@media only screen and (max-width: 400px) {
  body {
    background-color: var(--backg);
  }

  main {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto__photo-text {
    color: #fff;
    font-size: 39px;
    left: 640px;
    position: absolute;
    text-transform: capitalize;
    top: 365px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  .centrado {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    background-color: var(--backg);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  .coverphoto__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coverphoto__section section {
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  .coverphoto__section section h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section section p {
    color: #fff;
    font-size: 17px;
    text-transform: lowercase;
  }

  .coverphoto__section section:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  footer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}