* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backg: #514d4d;
  --titleColor: #fedc09;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  main {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  header h1 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header h1:first-child {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  header :nth-child(2) {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header :nth-child(3) {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }

  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 10px;
  }

  article h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  article:nth-child(2) > h2 {
    color: #fedc09;
  }

  .title__secondary {
    font-size: 39px;
    left: 650px;
    position: relative;
    top: -320px;
  }

  .subtitle__secondary-one {
    color: #fff;
    text-transform: capitalize;
  }

  .subtitle__secondary-two {
    color: var(--titleColor);
    text-transform: capitalize;
  }

  img {
    border: 10px solid red;
    display: block;
  }

  footer {
    height: 20px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  main {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  header h1 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header h1:first-child {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  header :nth-child(2) {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header :nth-child(3) {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }

  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 10px;
  }

  article h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  article:nth-child(2) > h2 {
    color: #fedc09;
  }

  .title__secondary {
    font-size: 39px;
    left: 650px;
    position: relative;
    top: -325px;
  }

  .subtitle__secondary-one {
    color: #fff;
    text-transform: capitalize;
  }

  .subtitle__secondary-two {
    color: var(--titleColor);
    text-transform: capitalize;
  }

  img {
    border: 10px solid red;
    display: block;
  }

  footer {
    height: 20px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: var(--backg);
  }

  main {
    background-color: var(--backg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 960px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  header h1 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header h1:first-child {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  header article .first-paragraph {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  header article .second-paragraph {
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  section {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
  }

  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }

  article h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
  }

  article:nth-child(2) > h2 {
    color: #fedc09;
  }

  .title__secondary {
    display: block;
    flex-direction: column;
    font-size: 39px;
    margin-left: 285px;
    margin-top: -115px;
    position: relative;
  }

  .subtitle__secondary-one {
    color: #fff;
    text-transform: capitalize;
  }

  .subtitle__secondary-two {
    color: var(--titleColor);
    text-transform: capitalize;
  }

  img {
    border: 20px solid red;
    display: block;
    height: 500px;
    width: 500px;
  }

  footer {
    height: 20px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
}