* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backg: #110502;
  --titleColor: #fedc09;
  --whiteLetter: #fff;
}

/* Desktop Styles New */
@media only screen and (min-width: 961px) {
  body {
    background-color: var(--backg);
  }

  article {
    background-color: var(--backg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 850px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: var(--whiteLetter);
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: var(--whiteLetter);
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto ul li {
    list-style-type: none;
    color: var(--whiteLetter);
    margin: 5px;
  }

  .coverphoto__photo-text {
    font-size: 39px;
    color: var(--whiteLetter);
    left: 400px;
    position: absolute;
    text-transform: capitalize;
    top: 500px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  img {
    display: block;
  }

  .coverphoto__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }

  .coverphoto__section ul li {
    margin-top: 20px
  }

  .coverphoto__section ul li h2 {
    color: var(--whiteLetter);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li p {
    color: var(--whiteLetter);
    font-size: 18px;
    text-transform:lowercase;
  }
 
  .coverphoto__section ul li p::first-letter {
    text-transform:capitalize;
  }

  footer {
    color: var(--whiteLetter);
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: var(--backg);
  }

  article {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: var(--whiteLetter);
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: var(--whiteLetter);
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto__photo-text {
    color: var(--whiteLetter);
    font-size: 39px;
    left: 640px;
    position: absolute;
    text-transform: capitalize;
    top: 365px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  img {
    display: block;
    width: 100%;
  }

  .coverphoto__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coverphoto__section ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
  }

  .coverphoto__section ul li h2 {
    color: var(--whiteLetter);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li p {
    color: var(--whiteLetter);
    font-size: 18px;
    text-transform: lowercase;
  }

  .coverphoto__section ul li p::first-letter {
    text-transform:capitalize;
  }

  footer {
    color: var(--whiteLetter);
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
}

/* Mobile Style */
@media only screen and (max-width: 400px) {
  body {
    background-color: var(--backg);
  }

  article {
    background-color: var(--backg);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 40px;
    width: 960px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    color: var(--titleColor);
    font-size: 166px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  .date-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .date-web :first-child {
    color: var(--whiteLetter);
    font-size: 17px;
    text-transform: uppercase;
  }

  .date-web :last-child {
    color: var(--whiteLetter);
    font-size: 16px;
    margin-right: 30px;
    text-transform: lowercase;
  }

  .coverphoto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .coverphoto__photo {
    border: 10px solid red;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .coverphoto__photo-text {
    color: var(--whiteLetter);
    font-size: 39px;
    left: 640px;
    position: absolute;
    text-transform: capitalize;
    top: 365px;
  }

  .coverphoto__photo-text span {
    color: var(--titleColor);
  }

  img {
    display: block;
    width: 100%;
  }

  .coverphoto__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
  }

  .coverphoto__section ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
  }

  .coverphoto__section ul li h2 {
    color: var(--whiteLetter);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li:nth-child(2) h2 {
    color: var(--titleColor);
    font-size: 32px;
    text-transform: uppercase;
  }

  .coverphoto__section ul li p {
    color: var(--whiteLetter);
    font-size: 18px;
    text-transform: lowercase;
  }

  .coverphoto__section ul li p::first-letter {
    text-transform:capitalize;
  }

  footer {
    color: var(--whiteLetter);
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }
}