@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* background-image: linear-gradient(
    to right top,
    #04030c,
    #0b0719,
    #110c23,
    #130f2e,
    #171138
  );
  
  
   bg: `background-color: #04030c;
        opacity: 1;
        background-image: radial-gradient(#bfd732 0.55px, transparent 0.55px),
          radial-gradient(#bfd732 0.55px, #04030c 0.55px);
        background-size: 65px 45px;
        background-position: 0 0, 80px 11px`,
      },
  */
