input[type="checkbox"] {
  margin-right: 10px;
}

.todo-completed {
  text-decoration: line-through;
  opacity: 0.75;
}

.todo-high {
  background: linear-gradient(
    90deg,
    rgba(221, 51, 29, 1) 0%,
    rgba(231, 92, 74, 1) 100%
  );
}

.todo-low {
  background: linear-gradient(
    90deg,
    rgba(130, 186, 61, 1) 0%,
    rgba(201, 211, 37, 1) 100%
  );
}

.todo-mid {
  background: linear-gradient(
    90deg,
    rgba(239, 208, 0, 1) 0%,
    rgba(255, 232, 81, 1) 100%
  );
}

.todo-name {
  cursor: pointer;
}

.todo-row {
  align-items: center;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-family: "Lexend", sans-serif;
  margin: 4px auto;
  padding: 16px;
  width: 90%;
}
